.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white_0;
  z-index: 99;

  &__inner {
    @extend %center_block;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 $ph;
  }

  &__nav_btn {
    display: none;
    padding: 5px;

    @include respond-to(tablet-plus) {
      display: block;
    }
  }

  &__phone {
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.logo {
  width: 124px;
  height: 52px;

  &__icon {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.nav {
  @include respond-to(tablet-plus) {
    position: fixed;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: calc(100% - 100px);
    background-color: $gray_1;
    transform-origin: 50% 0;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s linear, opacity 0.3s linear;
    overflow-y: auto;

    &.is-active {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include respond-to(tablet-plus) {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      padding: 30px $ph 0;
    }
  }

  &__item {
    position: relative;
    margin: 0 30px;

    &:hover {

      .nav__link_arrow::after {

        @media only screen and (min-width: $tablet-plus) {
          transform: rotate(180deg);
        }
      }
    }

    @include respond-to(desktop) {
      margin: 0 28px;
    }

    @include respond-to(tablet) {
      margin: 0 14px;
    }

    @include respond-to(tablet-plus) {
      margin: 0 0 28px;
      text-align: center;
    }
  }

  &__link {
    @include font(18px, 22px, "Lato-Regular");

    border-bottom: 1px solid transparent;
    color: $gray_0;
    transition: border-color 0.2s linear;

    &:hover {
      border-color: $yellow_0;

      & + .subnav {

        @media only screen and (min-width: $tablet-plus) {
          transform: translate(-50%, 0);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @include respond-to(desktop) {
      @include adaptive-font(18, 22, 14, 18, "Lato-Regular");
    }

    @include respond-to(tablet-plus) {
      display: inline-block;
      color: $white_0;
    }

    &_arrow {
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: inline-block;
        border: 4px solid transparent;
        border-top: 6px solid $gray_0;
        border-bottom: 0;
        margin-left: 5px;
        transform-origin: 50% 50%;
        transition: transform 0.2s linear;

        @include respond-to(tablet-plus) {
          display: none;
        }
      }
      
      &.nav__link--default {

        &::after {

          @include respond-to(tablet-plus) {
            display: inline-flex;
            border-top-color: $white_0;
          }
        }
      }
    }

    &--default {
      cursor: default;
    }
  }

  .nav__phone {
    display: none;
    padding: 30px $ph;
    border-top: 1px solid currentColor;

    @include respond-to(tablet-plus) {
      display: flex;
      justify-content: center;
    }
  }
}

.phone {
  @include font(18px, 22px, "Lato-Regular");

  position: relative;
  display: flex;
  align-items: flex-end;
  color: $yellow_0;

  @include respond-to(desktop) {
    @include adaptive-font(18, 22, 14, 18, "Lato-Regular");
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: $yellow_0;
    transition: width 0.2s linear;
  }

  &:hover {

    &::after {
		  @media only screen and (min-width: 992px) {
        width: 100%;
      }
    }
  }

  &__svg {
    fill: currentColor;
  }
}

.nav-btn {

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 8px;

    span {
      height: 1px;
      background-color: $gray_0;
      transition: opacity 0.3s, transform 0.3s;

      &:nth-child(2) {
        align-self: flex-end;
        width: 50%;
        background-color: $yellow_0;
      }
    }
  }

  &.is-active {

    span {

      &:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }
}

.subnav {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  padding-top: 10px;
  transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;

  @include respond-to(tablet-plus) {
    display: none;
    position: relative;
    top: 0;
  }

  @media only screen and (min-width: $tablet-plus) {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }

  &__list {
    padding: 0 20px;
    background-color: $white_0;
    box-shadow: 0px 4px 48px $gray_8;

    @include respond-to(tablet-plus) {
      position: relative;
      top: 0;
      padding: 0;
    }
  }
  
  &__item {
    border-bottom: 1px solid $gray_2;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    @include font(18px, 24px, "Lato-Regular");

    display: block;
    padding: 15px 0;
    color: $gray_3;
    white-space: nowrap;
    transition: color 0.2s linear;

    &:hover {
      color: $yellow_0;
    }
    
    @include respond-to(desktop) {
      @include adaptive-font(18, 24, 14, 18, "Lato-Regular");
    }

    @include respond-to(tablet-plus) {
      padding: 10px 0;
    }
  }
}
