.home {

  .banner {
    @include background(url("../img/home/banner/1.jpg"), top, right, cover);

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(60% 126.37% at 0% 0%, #ffffff 40%, rgba(255, 255, 255, 0) 90%), radial-gradient(50% 50% at 10% 100%, #ffffff 0%, rgba(232, 231, 229, 0) 100%);
    }

    @include respond-to(mobile) {
      background: unset;
    }

    &__inner {
      @extend %center_block;

      position: relative;
      padding: 9.12% $ph 9.9%;
      z-index: 1;
    }

    &__description {
      width: 68.97%;
      max-width: 400px;

      @include respond-to(mobile) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &__title {
      @include font(72px, 78px, "PlayfairDisplay-Bold");

      margin-bottom: 30px;
      
      @include respond-to(desktop) {
        @include adaptive-font(72, 78, 30, 32, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        margin-bottom: 24px;
      }

      span {
        color: $yellow_0;
      }
    }

    &__paragraph {
      @include font(24px, 36px, "Lato-Regular");

      margin-bottom: 30px;

      @include respond-to(desktop) {
        @include adaptive-font(24, 36, 14, 20, "Lato-Regular");
      }

      @include respond-to(mobile) {
        margin-bottom: 24px;
      }

      span {
        display: block;
      }
    }

    &__link {
      @include font(18px, 20px, "Lato-Bold");

      display: inline-block;
      padding: 15px 45px;
      background-color: $yellow_0;
      color: $white_0;

      @include respond-to(desktop) {
        @include adaptive-font(18, 20, 14, 16, "Lato-Bold");
      }

      @include respond-to(mobile) {
        padding: 10px 24px;
      }
    }
  }

  .promotion {

    .slick-prev,
    .slick-next {
      width: auto;
      height: auto;

      &::before {
        @include font(35px, 35px, "iconfont");

        color: $gray_0;

        @include respond-to(desktop) {
          @include adaptive-font(35, 35, 14, 14, "iconfont");
        }
      }
    }

    .slick-prev {
      @include icon(arrow_prev);

      left: -100px;

      @include respond-to(tablet) {
        left: -50px;
      }
    }

    .slick-next {
      @include icon(arrow_next);

      right: -100px;

      @include respond-to(tablet) {
        right: -50px;
      }
    }

    .slick-slide {

      &:nth-child(even) {
        .slide {
          @include background(url("../img/home/slider_promotion/bg_1.jpg"), center, center, cover);
        }
      }

      &:nth-child(odd) {
        .slide {
          @include background(url("../img/home/slider_promotion/bg_2.jpg"));
        }
      }
    }
    
    &__inner {
      @extend %center_block;

      padding: 0 $ph;
    }

    .slider {
      width: 64.4%;
      min-width: 240px;
      margin: 0 auto;
      box-shadow: 0px 4px 48px $gray_4;

      &__list {
        margin-bottom: 30px;
      }
    }

    .slide {
      display: flex;

      &__description {
        width: 51.4%;
        padding: 7.14%;

        @include respond-to(mobile) {
          display: flex;
          flex-direction: column;
          padding: 25px;
        }

        @include respond-to(mobile_small) {
          padding: 10px;
        }
      }

      &__note {
        @include font(12px, 17px, "Lato-Regular");

        margin-bottom: 22px;
        color: $gray_2;

        @include respond-to(desktop) {
          @include adaptive-font(12, 17, 8, 12, "Lato-Regular");
        }

        @include respond-to(mobile) {
          order: 1;
          margin-bottom: 12px;
          white-space: nowrap;
        }
      }

      &__title {
        @include font(30px, 39px, "PlayfairDisplay-Regular");

        margin-bottom: 18px;
        color: $gray_3;

        @include respond-to(desktop) {
          @include adaptive-font(30, 39, 8, 12, "PlayfairDisplay-Regular");
        }

        @include respond-to(mobile) {
          order: 3;
          margin-bottom: 0;
        }
      }

      &__discount {
        @include font(24px, 36px, "PlayfairDisplay-BoldItalic");

        color: $yellow_0;

        @include respond-to(desktop) {
          @include adaptive-font(24, 36, 14, 21, "PlayfairDisplay-BoldItalic");
        }

        @include respond-to(mobile) {
          order: 2;
          margin-bottom: 11px;
        }
      }

      &__photo {
        position: relative;
        width: 48.6%;
        height: 0;
        padding-bottom: 44.86%;
      }

      &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about-doctor {
    @include background(url("../img/home/about_doctor/bg.png"));

    @include respond-to(mobile) {
      background: unset;
    }

    &__inner {
      @extend %center_block;

      position: relative;
      padding: 4.17% $ph 8.33%;

      @include respond-to(mobile) {
        padding: 15px;
      }
    }

    &__description {
      width: 56.78%;
      color: $gray_0;

      @include respond-to(mobile) {
        width: 100%;
      }
    }

    &__title {
      @include font(64px, 55px, "PlayfairDisplay-Bold");

      margin-bottom: 8.96%;
      letter-spacing: 0.055em;
      color: $gray_3;

      @include respond-to(desktop) {
        @include adaptive-font(64, 55, 18, 20, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        display: flex;
        align-items: center;
        width: 38.28%;
        margin-bottom: 7px;

        &::before {
          content: "";
          width: 1px;
          height: 35px;
          margin-right: 6px;
          background-color: $yellow_1;
        }
      }
    }

    &__name {
      @include font(36px, 40px, "PlayfairDisplay-Regular");

      margin-bottom: 6.05%;
      color: currentColor;

      @include respond-to(desktop) {
        @include adaptive-font(36, 40, 12, 14, "PlayfairDisplay-Regular");
      }

      @include respond-to(mobile) {
        width: 38.28%;
        margin-bottom: 18px;
      }

      span {

        @include respond-to(mobile) {
          color: $yellow_1;
        }
      }
    }

    &__photo {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 59.92%;
      height: 0;
      padding-bottom: 51.1%;

      @include respond-to(mobile) {
        top: 0;
        bottom: unset;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .merit {

    &__item {
      @include font(18px, 27px,  "Lato-Regular");

      display: flex;
      align-items: center;
      margin-bottom: 15px;
      color: currentColor;

      @include respond-to(desktop) {
        @include adaptive-font(18, 27, 12, 14, "Lato-Regular");
      }

      @include respond-to(mobile) {
        width: 38.28%;
        margin-bottom: 10px;
        font-family: "Lato-Light";
        color: $gray_1;

        &:first-child {
          display: none;
        }
      }
    }

    &__icon {
      width: 7.46%;
      margin-right: 7.46%;

      @include respond-to(mobile) {
        display: none;
      }
    }

    &__svg {

      path {
        fill: currentColor;
      }
    }
    
    &__text {
      padding: 30px 25px;
      margin: 0 -25px;
      border-radius: 20px;
      background-color: $white_0;
      box-shadow: 0 0 25px $white_0;

      @include respond-to(mobile) {
        padding: 30px 0 15px;
        margin: 0;
      }
    }

    &__paragraph {
      @include font(18px, 27px, "Lato-LightItalic");

      position: relative;
      letter-spacing: 0.02em;
      color: currentColor;
      z-index: 1;

      @include respond-to(desktop) {
        @include adaptive-font(18, 27, 12, 14, "Lato-LightItalic");
      }
    }

    &__regards {
      @include font(14px, 20px, "Lato-LightItalic");

      position: relative;
      margin-top: 22px;
      z-index: 1;

      @include respond-to(desktop) {
        @include adaptive-font(14, 20, 8, 10, "Lato-LightItalic");
      }

      @include respond-to(mobile) {
        width: 58.62%;
        margin-top: 5px;
        margin-left: auto;
      }
    }
  }

  .advantages {

    &__inner {
      @extend %center_block;

      padding: 3.65% $ph 9.9%;

      @include respond-to(mobile) {
        display: flex;
        flex-direction: column;
      }
    }

    &__title {
      @include font(64px, 70px, "PlayfairDisplay-Bold");

      margin-bottom: 3.98%;
      letter-spacing: 0.055em;
      color: $gray_3;

      @include respond-to(desktop) {
        @include adaptive-font(64, 70, 18, 20, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        &::before {
          content: "";
          width: 1px;
          height: 35px;
          margin-right: 6px;
          background-color: $yellow_1;
        }
      }
    }

    &__paragraph {
      @include font(24px, 36px, "Lato-Regular");

      margin-bottom: 5.93%;
      letter-spacing: 0.02em;
      color: $gray_0;

      @include respond-to(desktop) {
        @include adaptive-font(24, 36, 14, 20, "Lato-Regular");
      }

      @include respond-to(mobile) {
        margin-bottom: 45px;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-self: center;
      padding-left: 20px;

      @include respond-to(mobile) {
        flex-direction: column;
        padding-left: 0;
      }
    }

    .item {
      position: relative;
      background-color: $white_0;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: -20px;
        width: 105%;
        max-width: 200px;
        height: calc(100% + 40px);
        border: 1px solid $yellow_1;
        z-index: -1;
      }

      @include respond-to(mobile) {
        margin-bottom: 65px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          width: 73.1%;
        }
      }

      &__title {
        @include font(144px, 150px, "Lato-Bold");

        text-shadow: -8px 8px 10px $gray_5;
        color: $gray_2;

        @include respond-to(desktop) {
          @include adaptive-font(144, 150, 32, 36, "Lato-Bold");
        }
      }

      &__description {
        @include font(18px, 20px, "Lato-Regular");

        color: $gray_1;

        @include respond-to(desktop) {
          @include adaptive-font(18, 20, 12, 14, "Lato-Regular");
        }
      }
    }
  }

  .services {

    &__inner {
      @extend %center_block;

      padding: 6.77% $ph;
      color: $gray_0;
    }

    &__title {
      @include font(64px, 70px, "PlayfairDisplay-Bold");

      margin-bottom: 5.42%;
      letter-spacing: 0.055em;
      color: $gray_3;

      @include respond-to(desktop) {
        @include adaptive-font(64, 70, 18, 20, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        &::before {
          content: "";
          width: 1px;
          height: 35px;
          margin-right: 6px;
          background-color: $yellow_1;
        }
      }
    }

    &__paragraph {
      @include font(18px, 27px, "Lato-Regular");

      margin-bottom: 6.78%;
      letter-spacing: -0.015em;

      @include respond-to(desktop) {
        @include adaptive-font(18, 27, 14, 20, "Lato-Regular");
      }

      @include respond-to(mobile) {
        margin-bottom: 30px;
      }
    }

    .slider {
      width: 88.14%;
      margin: 0 auto;

      @include respond-to(mobile) {
        width: 100%;
      }
    }

    .slick-prev, 
    .slick-next {
      width: auto;
      height: auto;

      &::before {
        @include font(35px, 35px, iconfont);

        color: $gray_0;
        
        @include respond-to(desktop) {
          @include adaptive-font(35, 35, 6, 6, iconfont);
        }
      }
    }

    .slick-prev {
      @include icon(arrow_prev);

      left: -50px;

      @include respond-to(mobile) {
        top: 23vw;
        left: 0;
      }
    }

    .slick-next {
      @include icon(arrow_next);

      right: -50px;

      @include respond-to(mobile) {
        top: 23vw;
        right: 0;
      }
    }

    .slide {
      display: flex;
      align-items: center;

      @include respond-to(mobile) {
        flex-direction: column;
      }

      &__photo {
        position: relative;
        width: 50%;
        height: 0;
        padding-bottom: 46.15%;

        @include respond-to(mobile) {
          margin-bottom: 17px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid $yellow_0;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 0;
          height: 75%;
          transform: translateY(-50%);
          border: 1px solid $white_0;
        }
      }

      &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88.46%;
        height: 87.5%;
        object-fit: cover;
      }

      &__description {
        align-self: flex-end;
        width: 50%;
        padding-left: 9.62%;

        @include respond-to(mobile) {
          align-self: auto;
          width: 100%;
          padding-left: 0;
        }
      }

      &__title {
        @include font(36px, 40px, "PlayfairDisplay-Bold");

        margin-bottom: 30px;
        letter-spacing: -0.02em;

        @include respond-to(desktop) {
          @include adaptive-font(36, 40, 16, 20, "PlayfairDisplay-Bold");
        }
      }

      &__subtitle {
        @include font(24px, 28px, "PlayfairDisplay-Regular");

        margin-bottom: 30px;

        @include respond-to(desktop) {
          @include adaptive-font(24, 28, 16, 20, "PlayfairDisplay-Regular");
        }

        @include respond-to(mobile) {
          margin-bottom: 16px;
        }

        span {
          @include font(18px, 26px, "PlayfairDisplay-Regular");

          @include respond-to(desktop) {
            @include adaptive-font(18, 26, 14, 18, "PlayfairDisplay-Regular");
          }
        }
      }

      &__paragraph {
        @include font(18px, 27px, "Lato-Regular");

        margin-bottom: 40px;

        @include respond-to(desktop) {
          @include adaptive-font(18, 27, 14, 20, "Lato-Regular");
        }

        @include respond-to(mobile) {
          margin-bottom: 24px;
        }
      }

      &__link {
        @include font(18px, 20px, "Lato-Regular");

        display: inline-block;
        padding: 18px 50px;
        border: 1px solid $yellow_0;
        letter-spacing: 0.02em;
        color: currentColor;
        transition: background-color 0.2s linear;

        &:hover {
          background-color: $yellow_0;
        }
        
        @include respond-to(desktop) {
          @include adaptive-font(18, 20, 14, 16, "Lato-Regular");
        }

        @include respond-to(mobile) {
          padding: 10px 25px;
        }
      }
    }
  }

  .appointment {
    @include background(url("../img/home/appointment/1.jpg"));

    @include respond-to(mobile) {
      display: none;
    }

    &__inner {
      @extend %center_block;

      padding: 10.42% $ph 9.38%;
    }

    &__description {
      width: 50.85%;
      margin-left: auto;
      text-align: center;
    }

    &__title {
      @include font(48px, 72px, "PlayfairDisplay-Bold");

      margin-bottom: 20px;

      @include respond-to(desktop) {
        @include adaptive-font(48, 72, 18, 22, "PlayfairDisplay-Bold");
      }
    }

    &__paragraph {
      @include font(24px, 36px, "PlayfairDisplay-Regular");

      margin-bottom: 20px;
      color: $yellow_1;

      @include respond-to(desktop) {
        @include adaptive-font(24, 36, 16, 20, "PlayfairDisplay-Regular");
      }
    }

    &__link {
      @include font(18px, 27px, "Lato-Bold");

      display: inline-block;
      padding: 15px 50px;
      background-color: $yellow_0;
      border: 1px solid $yellow_0;
      transition: color 0.2s linear, background-color 0.2s linear;
      color: $white_0;

      @include respond-to(desktop) {
        @include adaptive-font(18, 27, 14, 20, "Lato-Bold");
      }

      &:hover {
        color: $yellow_0;
        background-color: transparent;
      }
    }
  }

  .how-we-work {
    @include background(url("../img/home/how-we-work/1.png"));

    &__inner {
      @extend %center_block;

      padding: 3.4% $ph;
    }

    &__title {
      @include font(64px, 64px, "PlayfairDisplay-Bold");

      margin-bottom: 5.51%;
      color: $gray_3;

      @include respond-to(desktop) {
        @include adaptive-font(64, 64, 18, 20, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &::before {
          content: "";
          width: 1px;
          height: 35px;
          margin-right: 6px;
          background-color: $yellow_1;
        }
      }
    }

    &__paragraph {
      @include font(24px, 24px, "Lato-Regular");

      margin-bottom: 5.51%;
      color: $gray_0;

      @include respond-to(desktop) {
        @include adaptive-font(24, 24, 14, 16, "Lato-Regular");
      }

      @include respond-to(mobile) {
        margin-bottom: 20px;
      }
    }

    .algorithm {

      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px 5.08%;
        counter-reset: number;

        @include respond-to(desktop) {
          grid-gap: 50px 5.08%;
        }

        @include respond-to(tablet) {
          grid-gap: 30px 5.08%;
        }

        @include respond-to(mobile) {
          grid-template-columns: 1fr;
          grid-gap: 15px;
        }
      }

      &__item {
        display: flex;
        align-items: center;

        &::before {
          @include font(96px, 100px, "Lato-Bold");

          counter-increment: number;
          content: "0" counter(number);
          transform: translateX(10%);
          color: $gray_2;

          @include respond-to(desktop) {
            @include adaptive-font(96, 100, 32, 36, "Lato-Bold");
          }
        }
      }

      &__description {
        position: relative;
        flex-grow: 1;
        height: 100%;
        padding: 30px 46px;
        border-top: 1px solid $yellow_1;
        border-bottom: 1px solid $yellow_1;

        @include respond-to(tablet) {
          padding: 15px 20px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 30px;
          border-left: 1px solid $yellow_1;

          @include respond-to(tablet) {
            height: 20px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 30px;
          border-left: 1px solid $yellow_1;

          @include respond-to(tablet) {
            height: 20px;
          }
        }
      }

      &__title {
        @include font(24px, 24px, "PlayfairDisplay-Bold");

        margin-bottom: 20px;
        color: $gray_3;

        @include respond-to(desktop) {
          @include adaptive-font(24, 24, 18, 20, "PlayfairDisplay-Bold");
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 30px;
          border-left: 1px solid $yellow_1;

          @include respond-to(tablet) {
            height: 20px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 30px;
          border-left: 1px solid $yellow_1;

          @include respond-to(tablet) {
            height: 20px;
          }
        }
      }

      &__paragraph {
        @include font(18px, 27px, "Lato-Regular");

        color: $gray_3;

        @include respond-to(desktop) {
          @include adaptive-font(18, 27, 12, 18, "Lato-Regular");
        }
      }
    }
  }

  .our-works {
    background-color: $gray_6;

    &__inner {
      @extend %center_block;

      padding: 3.65% $ph;
      color: $gray_3;

      @include respond-to(mobile) {
        padding: 20px $ph 35px;
      }
    }

    &__title {
      @include font(64px, 64px, "PlayfairDisplay-Bold");

      margin-bottom: 5.93%;

      @include respond-to(desktop) {
        @include adaptive-font(64, 64, 18, 18, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        
        &::before {
          content: "";
          width: 1px;
          height: 35px;
          margin-right: 6px;
          background-color: $yellow_1;
        }
      }
    }

    .slider {
      width: 90.68%;
      margin: 0 auto;
      background-color: $white_0;
    }

    .slide {
      padding: 24px 15px;

      @include respond-to(mobile) {
        padding: 6px 3px;
      }

      &__description {
        @include font(18px, 20px, "Lato-Regular");

        margin-top: 20px;
        text-align: center;
        
        @include respond-to(desktop) {
          @include adaptive-font(18, 20, 8, 10, "Lato-Regular");
        }

        @include respond-to(mobile) {
          margin-top: 10px;
        }
      }
    }

    .figure {
      width: 25%;
      padding: 0 12px;

      @include respond-to(mobile) {
        padding: 0 3px;
      }

      &-container {
        display: flex;
      }

      &__img {

        &-container {
          margin-bottom: 10px;
        }
      }

      &__caption {
        @include font(18px, 20px, "Lato-Regular");

        text-align: center;
        
        @include respond-to(desktop) {
          @include adaptive-font(18, 20, 8, 10, "Lato-Regular");
        }
      }
    }

    .slick-prev,
    .slick-next {
      width: auto;
      height: auto;

      &::before {
        @include font(35px, 35px, iconfont);

        color: $gray_0;
        
        @include respond-to(desktop) {
          @include adaptive-font(35, 35, 6, 6, iconfont);
        }
      }
    }

    .slick-prev {
      @include icon(arrow_prev);
      
      left: -5%;
    }

    .slick-next {
      @include icon(arrow_next);
      
      right: -5%;
    }

    .slick-dots {
      bottom: -50px;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 50px;
    }
  }

  .blog {
    @include background(url("../img/home/blog/bg.png"));

    &__inner {
      @extend %center_block;

      padding: 4.69% $ph;
    }

    &__title {
      @include font(64px, 64px, "PlayfairDisplay-Bold");

      margin-bottom: 6.78%;

      @include respond-to(desktop) {
        @include adaptive-font(64, 64, 18, 18, "PlayfairDisplay-Bold");
      }

      @include respond-to(mobile) {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &::before {
          content: "";
          width: 1px;
          height: 35px;
          margin-right: 6px;
          background-color: $yellow_1;
        }
      }
    }

    .slider {
      width: 86.86%;
      margin: 0 auto;

      @include respond-to(mobile) {
        width: 100%;
      }

      &__item {
        height: 100%;
        padding: 10px 10px 15px;

        @include respond-to(mobile) {
          padding: 0 5px;
        }
      }
    }

    .slide {
      height: 100%;

      &__link {
        display: flex;
        justify-content: space-between;
        height: 100%;
        transition: box-shadow 0.3s linear;

        @media only screen and (min-width: 992px) {
          &:hover {
            box-shadow: 0px 5px 10px $gray_2;
          }
        }
      }
    }

    .figure {
      // width: 48.78%;
      padding: 30px 30px 50px;
      background-color: $white_0;

      @include respond-to(mobile) {
        padding: 12px 12px 25px;
      }

      &__img-container {
        margin-bottom: 12.5%;

        @include respond-to(mobile) {
          margin-bottom: 10px;
        }
      }

      &__title {
        @include font(24px, 36px, "Lato-Bold");

        margin-bottom: 5.68%;
        color: $gray_0;

        @include respond-to(desktop) {
          @include adaptive-font(24, 36, 14, 20, "Lato-Bold");
        }

        @include respond-to(mobile) {
          margin-bottom: 0;
        }
      }

      &__description {
        @include font(18px, 27px, "Lato-Regular");

        color: $gray_0;

        @include respond-to(desktop) {
          @include adaptive-font(18, 27, 10, 14, "Lato-Regular");
        }

        @include respond-to(mobile) {
          display: none;
        }
      }
    }

    .slick-list {
      padding-left: 0 !important;
    }

    .slick-slide > div {
      height: 100%;
    }

    .slick-prev,
    .slick-next {
      width: auto;
      height: auto;

      &::before {
        @include font(35px, 35px, iconfont);

        color: $gray_0;
        
        @include respond-to(desktop) {
          @include adaptive-font(35, 35, 6, 6, iconfont);
        }
      }
    }

    .slick-prev {
      @include icon(arrow_prev);
      
      left: -7%;
    }

    .slick-next {
      @include icon(arrow_next);
      
      right: -7%;
    }
  }
}
