.orthodontics {

  &__inner {
    @extend %center_block;

    padding: 5.21% $ph;
  }

  &__title {
    @include font(36px, 40px, "PlayfairDisplay-Bold");

    margin-bottom: 30px;
    color: $gray_3;

    @include respond-to(desktop) {
      @include adaptive-font(36, 40, 18, 22, "PlayfairDisplay-Bold");
    }

    @include respond-to(mobile) {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &::before {
        content: "";
        width: 1px;
        height: 35px;
        margin-right: 6px;
        background-color: $yellow_1;
      }
    }
  }

  &__article {
    margin-bottom: 5.93%;

    @include respond-to(mobile) {
      margin-bottom: 20px;
    }
  }

  &__myobrace-type {
    margin-bottom: 10.17%;
  }

  .article {
    display: flex;
    justify-content: space-between;

    @include respond-to(mobile) {
      flex-direction: column-reverse;
    }

    &__left-block {
      width: 50%;
      max-width: 580px;
      margin-right: 15px;

      @include respond-to(mobile) {
        width: 100%;
        max-width: none;
        margin-right: 0;
      }
    }

    &__right-block {
      width: 50%;
      max-width: 480px;

      @include respond-to(mobile) {
        width: 100%;
        max-width: none;
      }
    }

    &__title {
      @include font(24px, 28px, "PlayfairDisplay-Regular");

      margin-bottom: 15px;
      color: $gray_3;

      @include respond-to(desktop) {
        @include adaptive-font(24, 28, 16, 20, "PlayfairDisplay-Regular");
      }
    }

    &__text {
      @include font(18px, 26px, "Lato-Regular");

      margin-bottom: 25px;
      color: $gray_0;

      &:last-child {
        margin-bottom: 0;
      }

      @include respond-to(desktop) {
        @include adaptive-font(18, 26, 14, 18, "Lato-Regular");
      }

      p {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .color {
        color: $yellow_1;
      }
    }

    &__intend {
      margin-bottom: 25px;
    }

    &__figcaption {
      @include font(24px, 36px, "PlayfairDisplay-Regular");

      margin-bottom: 7.29%;
      color: $gray_9;
      text-align: center;

      @include respond-to(desktop) {
        @include adaptive-font(24, 36, 18, 22, "PlayfairDisplay-Regular");
      }

      @include respond-to(mobile) {
        display: none;
      }
    }

    &__quotation {
      padding: 30px 10px;
      border-top: 1px solid $yellow_1;
      border-bottom: 1px solid $yellow_1;

      @include respond-to(mobile) {
        display: none;
      }

      .blockquote {
        @include font(24px, 36px, "PlayfairDisplay-Italic");

        margin: 0 0 35px 0;

        @include respond-to(desktop) {
          @include adaptive-font(24, 36, 14, 18, "PlayfairDisplay-Italic");
        }
      }

      &-title {
        @include font(18px, 26px, "PlayfairDisplay-Regular");

        @include respond-to(desktop) {
          @include adaptive-font(18, 26, 14, 18, "PlayfairDisplay-Regular");
        }
      }
    }

    .figure {
      position: relative;
      height: 0;
      width: 100%;
      padding-bottom: 86.88%;
      margin-bottom: 10.4%;

      @include respond-to(mobile) {
        padding-bottom: 46.88%;
        margin-bottom: 20px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 111.5%;
        object-fit: cover;

        @include respond-to(mobile) {
          object-fit: contain;
        }
      }
    }
  }

  .intend {
    color: $gray_0;

    &__title {
      @include font(18px, 26px, "PlayfairDisplay-Regular");

      @include respond-to(desktop) {
        @include adaptive-font(18, 26, 12, 18, "PlayfairDisplay-Regular");
      }
    }

    &__item {
      @include font(18px, 26px, "Lato-Regular");

      position: relative;
      padding-left: 20px;

      @include respond-to(desktop) {
        @include adaptive-font(18, 26, 12, 14, "Lato-Regular");
      }

      @include respond-to(mobile) {
        padding-left: 15px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: $yellow_1;

        @include respond-to(mobile) {
          display: none;
        }
      }
    }
  }

  .myobrace-type {

    &__list {
      counter-reset: li;
      display: flex;
      justify-content: space-between;

      @include respond-to(mobile) {
        flex-direction: column;
      }
    }

    &__item {
      counter-increment: li;
      width: 25.42%;
      padding: 2.54% 2.12%;
      background-color: $gray_7;
      box-shadow: 0px 10px 30px $gray_4;

      @include respond-to(desktop) {
        width: 30%;
      }

      @include respond-to(mobile) {
        width: 100%;
        padding: 20px;
        margin-bottom: 40px;
      }
    }

    &__note {
      display: flex;
      align-items: center;

      &-image {
        flex-shrink: 0;
        width: 58px;
        height: 47px;
        margin-right: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-text {
        @include font(14px, 20px, "Lato-Bold");

        color: $gray_0;
      }
    }

    &__figure {
      position: relative;
      height: 0;
      width: 100%;
      padding-bottom: 75%;
      margin-bottom: 20px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__text {
      @include font(18px, 26px, "Lato-Regular");

      color: $gray_9;

      &-figcaption {
        @include font(14px, 20px, "Lato-Regular");

        color: $gray_0;
      }

      &-title {
        font-family: "Lato-Bold";
        margin-bottom: 0;

        @include respond-to(mobile) {
          color: $yellow_1;
        }
      }

      p {
        margin-bottom: 25px;

        &:first-child {

          &::before {
            @include font(18px, 28px, "Lato-Regular");

            content: counter(li);
            display: inline-block;
            width: 28px;
            height: 28px;
            border: 1px solid $white_0;
            border-radius: 50%;
            background-color: $orange_0;
            color: $white_0;
            text-align: center;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .slider {

    @include respond-to(desktop) {
      width: calc(100% - 40px);
      margin: 0 auto;
    }

    @include respond-to(mobile) {
      width: 100%;
    }

    &__list {

      .slick-list {
        padding-left: 0 !important;
      }

      .figure {
        position: relative;
        width: 100%;
        margin-bottom: 11.05%;

        &__img-container {
          position: relative;
          height: 0;
          width: 76.14%;
          padding-bottom: 60.91%;
          margin: 0 auto 11.05%;

          @include respond-to(mobile) {
            margin: 0 auto 30px;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        @include respond-to(mobile) {
          margin-bottom: 30px;
        }

        &__note {
          @include font(18px, 26px, "Lato-Bold");

          position: absolute;
          top: 0;
          right: 15%;
          color: $yellow_1;
          z-index: 1;

          @include respond-to(desktop) {
            @include adaptive-font(18, 26, 12, 18, "Lato-Bold");
          }

          @include respond-to(mobile) {
            margin-bottom: 30px;
          }
        }

        &__caption {
          @include font(24px, 36px, "PlayfairDisplay-Bold");

          width: 81.4%;
          margin: 0 auto;
          color: $gray_9;
          text-align: center;

          @include respond-to(desktop) {
            @include adaptive-font(24, 36, 14, 20, "PlayfairDisplay-Bold");
          }
        }

        &__link {
          @include font(18px, 26px, "Lato-Regular");

          display: inline-block;
          padding: 10px 45px;
          border: 1px solid $yellow_1;
          color: $gray_0;
          transition: background-color 0.2s linear;

          @include respond-to(desktop) {
            @include adaptive-font(18, 26, 14, 20, "Lato-Regular");
          }

          @include respond-to(mobile) {
            padding: 10px 25px;
          }

          &:hover {

            @media  only screen and (min-width: $tablet-plus) {
              background-color: $yellow_1;
            }
          }
        }
      }
    }

    &__item {
      margin: 0 25px;
    }
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .brackets {

      &-left {
        position: absolute;
        top: 15px;
        left: 0;
        height: 0;
        width: 100%;
        padding-bottom: 65%;
        border-left: 1px solid $yellow_1;
        z-index: -1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 6.21%;
          border-top: 1px solid $yellow_1;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 6.21%;
          border-top: 1px solid $yellow_1;
        }
      }

      &-right {
        position: absolute;
        top: 15px;
        left: 0;
        height: 0;
        width: 100%;
        padding-bottom: 65%;
        border-right: 1px solid $yellow_1;
        z-index: -1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 6.21%;
          border-top: 1px solid $yellow_1;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 6.21%;
          border-top: 1px solid $yellow_1;
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: auto;
    height: auto;

    &::before {
      @include font(36px, 36px, "iconfont");

      color: $gray_0;
    }
  }

  .slick-prev {
    @include icon(arrow_prev);
    
    left: -20px;
  }

  .slick-next {
    @include icon(arrow_next);
    
    right: -20px;
  }
}

.correction {

  .article {

    .figure {
      background-color: $gray_10;
    }
  }
}

.myobrace {

  &-junior {

    .myobrace-type {

      &__text {

        p {

          &:first-child {
            position: relative;
            padding-left: 35px;

            &::before {
              margin-left: -30px;
            }
          }
        }
      }
    }
  }

  &-kids {

    .myobrace-type {

      &__text {

        p {

          &:first-child {
            position: relative;
            padding-left: 35px;

            &::before {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

  &-teens {

    .myobrace-type {

      &__item {
        position: relative;
      }

      &__note {
        position: absolute;
        top: 50px;
        right: 20%;
        z-index: 1;

        @include respond-to(tablet) {
          top: 30px;
        }

        &-image {
          margin-right: 0;
        }
      }
    }
  }
}
