@font-face {
	font-family: "iconfont";
	src: url('../fonts/icons/iconfont.eot');
	src: url('../fonts/icons/iconfont.eot?#iefix') format('eot'),
		url('../fonts/icons/iconfont.woff2') format('woff2'),
		url('../fonts/icons/iconfont.woff') format('woff'),
		url('../fonts/icons/iconfont.ttf') format('truetype'),
		url('../fonts/icons/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow_next {
		$char: "\E001";
	}
	@if $filename == arrow_prev {
		$char: "\E002";
	}
	@if $filename == logo {
		$char: "\E003";
	}
	@if $filename == phone {
		$char: "\E004";
	}
	@if $filename == stady {
		$char: "\E005";
	}
	@if $filename == tooth {
		$char: "\E006";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow_next {
	@include icon(arrow_next);
}
.icon-arrow_prev {
	@include icon(arrow_prev);
}
.icon-logo {
	@include icon(logo);
}
.icon-phone {
	@include icon(phone);
}
.icon-stady {
	@include icon(stady);
}
.icon-tooth {
	@include icon(tooth);
}