@mixin font($font_size, $line_height, $font_family: sans-serif) {
	font: #{$font_size/$base_font_size}rem/#{$line_height/$base_font_size}rem $font_family;
}

@mixin adaptive-font($pc_font, $pc_line, $mob_font, $mob_line, $font_family: sans-serif) {
	$delta_size: $pc_font - $mob_font;
	$delta_height: $pc_line - $mob_line;
	$width: $site_width - 320;
	font-size: calc(#{$mob_font + px} + #{$delta_size} * ((100vw - 320px) / #{$width}));
	line-height: calc(#{$mob_line + px} + #{$delta_height} * ((100vw - 320px) / #{$width}));
	font-family: $font_family;
}

@mixin background($url, $top: top, $left: center, $size: cover, $color: transparent, $repeat: no-repeat) {
	background-image: $url;
	background-position: $top $left;
	background-size: $size;
	background-color: $color;
	background-repeat: $repeat;
}

@mixin respond-to($media) {
	// 0 - 480
	@if $media == mobile_small {
		@media only screen and (max-width: $mobile-landscape) {
			@content;
		}
	}
	// 0 - 767
	@if $media == mobile {
		@media only screen and (max-width: $tablet-portrait - 1) {
			@content;
		}
	}
	// 0 - 992
	@if $media == tablet-plus {
		@media only screen and (max-width: $tablet-plus) {
			@content;
		}
	}
	// 0 - 1024
	@if $media == tablet {
		@media only screen and (max-width: $tablet-landscape) {
			@content;
		}
	}
	// 0 - 1280
	@if $media == desktop {
		@media only screen and (max-width: $desktop) {
			@content;
		}
	}
	// 0 - 1600
	@if $media == desktop-extra {
		@media only screen and (max-width: $desktop-extra) {
			@content;
		}
	}
}
