// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$desktop-extra: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1210; // 1180px + 30px (padding)
// Padding
$ph: 15px;
// COLOR
$white_0: #fff;
$black_0: #000;

$gray_0: #5A5A5A;
$gray_1: #8D8D8D;
$gray_2: #C4C4C4;
$gray_3: #393E46;
$gray_4: rgba(169, 169, 169, 0.25);
$gray_5: rgba(221, 219, 219, 0.7);

$yellow_0: #FFB941;
$yellow_1: #F8B500;
