// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$desktop-extra: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1920;
// COLOR
$white_0: #fff;
$black_0: #000;